<h3 class="is-size-3"><%= t(@questions.model_name.human(count: 2)) %></h3>

<table class="table is-fullwidth">
  <thead>
  <tr>
    <th>#</th>
    <th><%= translate_attribute(@questions, :description) %></th>
    <th><%= translate_attribute(@questions, :subject) %></th>
    <th><%= link_to new_admins_backoffice_question_path, class: "button is-primary" do %>
        <i class="mdi mdi-pencil-plus"></i>
      <% end %>
    </th>
  </tr>
  </thead>
  <tbody>
  <% @questions.each do |question| %>
    <tr>
      <td><%= question.id %></td>
      <td><%= question.description.truncate(50) %></td>
      <td><%= question.subject.description.truncate(50) %></td>
      <td style="width: 150px">
        <%= link_to edit_admins_backoffice_question_path(question), class: "button is-info" do %>
          <i class="mdi mdi-pencil"></i>
        <% end %>
        <%= link_to admins_backoffice_question_path(question),
                    method: :delete, class: "button is-danger",
                    data: { confirm: t('messages.confirm') } do %>
          <i class="mdi mdi-delete"></i>
        <% end %>
      </td>
  <% end %>
  </tr>
  </tbody>
</table>
<%= paginate @questions, theme: 'bulma' %>
