<h2><%= t(@questions.model_name.human(count: 2)) %></h2>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th><%= translate_attribute(@questions, :description) %></th>
    <th><%= translate_attribute(@questions, :subject) %></th>
    <th><%= link_to new_admins_backoffice_question_path, class: "btn btn-success s-circle" do %>
        <i class="icon icon-plus"></i>
      <% end %>
    </th>
  </tr>
  </thead>
  <tbody>
  <% @questions.each do |question| %>
    <tr>
      <td><%= question.id %></td>
      <td><%= question.description.truncate(50) %></td>
      <td><%= question.subject.description.truncate(50) %></td>
      <td style="width: 100px">
        <%= link_to edit_admins_backoffice_question_path(question), class: "btn btn-primary s-circle" do %>
          <i class="icon icon-edit"></i>
        <% end %>
        <%= link_to admins_backoffice_question_path(question),
                    method: :delete, class: "btn btn-error s-circle",
                    data: { confirm: t('messages.confirm') } do %>
          <i class="icon icon-delete"></i>
        <% end %>
      </td>
  <% end %>
  </tr>
  </tbody>
</table>
<%= paginate @questions, theme: 'spectre' %>
