<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <%= link_to 'The Question', root_path, class: "title navbar-item" %>
  </div>

  <div class="navbar-item">
    <%= search_form_for @q, url: site_search_path, class: "field is-grouped is-horizontal"  do |f| %>
      <p class="control is-horizontal has-icons-left">
        <%= f.search_field :description_cont, class: "input is-rounded", placeholder: t('buttons.search') %>
        <span class="icon is-medium is-left">
            <i class="mdi mdi-magnify"></i>
        </span>
      </p>
        <%# <%= f.submit t('buttons.search'), class: "control button is-primary" %>
      <% end %>
  </div>


  <div class="navbar-end">
  <div class="navbar-item">
  <div class="buttons">
  <% if user_signed_in? %>
      <%= link_to 'Painel', users_backoffice_welcome_index_path, class: "button is-primary" %>
      <%= link_to 'Sair',  destroy_user_session_path, class: "button is-light", method: :delete %>
    <% elsif admin_signed_in? %>
      <%= link_to 'Painel', admins_backoffice_welcome_index_path, class: "button is-primary" %>
      <%= link_to 'Sair',  destroy_admin_session_path, class: "button is-light", method: :delete %>
    <% else %>
      <%= link_to 'Entrar', new_user_session_path, class: "button is-primary" %>
      <%= link_to 'Administrador',  new_admin_session_path, class: "button is-primary" %>
    <% end %>
  </div>
  </div>
  </div>

</nav>
