<nav class="navbar py-2 px-1">
  <section class="navbar-section">
    <%= link_to 'The Question', root_path, class: "navbar-brand" %>
  </section>
  <section class="navbar-section">
    <% if user_signed_in? %>
      <%= link_to 'Dashboard', users_backoffice_welcome_index_path %>
      <%= link_to 'Logout',  destroy_user_session_path, class: "btn btn-link", method: :delete %>
    <% elsif admin_signed_in? %>
      <%= link_to 'Dashboard', admins_backoffice_welcome_index_path %>
      <%= link_to 'Logout',  destroy_admin_session_path, class: "btn btn-link", method: :delete %>
    <% else %>
      <%= link_to 'Login', new_user_session_path, class: "btn btn-link" %>
      <%= link_to 'Admin', new_admin_session_path, class: "btn btn-link" %>
    <% end %>
  </section>
</nav>
