<h3 class="is-size-3"><%= t(@subjects.model_name.human(count: 2)) %></h3>
<table class="table is-fullwidth">
  <thead>
  <tr>
    <th>#</th>
    <th><%= translate_attribute(@subjects, :description) %></th>
    <th><%= link_to new_admins_backoffice_subject_path, class: "button is-primary" do %>
        <i class="mdi mdi-pencil-plus"></i>
      <% end %>
    </th>
  </tr>
  </thead>
  <tbody>
  <% @subjects.each do |subject| %>
    <tr>
      <td><%= subject.id %></td>
      <td><%= subject.description %></td>
      <td style="width: 160px">
        <%= link_to edit_admins_backoffice_subject_path(subject), class: "button is-info  s-circle" do %>
          <i class="mdi mdi-pencil"></i>
        <% end %>
        <%= link_to admins_backoffice_subject_path(subject),
                    method: :delete, class: "button is-danger",
                    data: { confirm: t('messages.confirm') } do %>
          <i class="mdi mdi-pencil-remove"></i>
        <% end %>
      </td>
  <% end %>
  </tr>
  </tbody>
</table>
<%= paginate @subjects, theme: 'bulma' %>
