<h3 class="is-size-3"><%= t(@admins.model_name.human(count: 2)) %></h3>
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>#</th>
      <th><%= translate_attribute(@admins, :email) %></th>
      <th><%= link_to new_admins_backoffice_admin_path , class: "button is-primary" do %>
          <i class="mdi mdi-account-plus"></i>
      <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
      <% @admins.each do |admin| %>
    <tr>
        <td><%= admin.id %></td>
        <td><%= admin.email %></td>
        <td style="width:160px">
          <%= link_to edit_admins_backoffice_admin_path(admin), class: "button is-info" do %>
            <i class="mdi mdi-account-edit"></i>
          <% end %>
          <%= link_to admins_backoffice_admin_path(admin), method: :delete, class: "button is-danger", data: { confirm: t('messages.confirm') } do %>
            <i class="mdi mdi-account-remove"></i>
          <% end %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>
<%= paginate @admins, theme: 'bulma' %>
