<h1 class="center"><%= "#{action_message} #{@subject.model_name.human}" %></h1>

<% if @subject.errors.any? %>
  <div class="toast toast-error">
  <% @subject.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
  </div>
<% end %>

<div class="col-4">
  <%= form_with model: [:admins_backoffice, @subject], local:true  do |f| %>
    <div class="form-group">
      <%= f.label :description, class: "form-label" %>
      <%= f.text_field :description, class: "form-input" %><br>
    </div>
    <%= f.submit t('buttons.confirm'), class: "btn btn-primary" %>
  <% end %>
</div>
