<%= render 'shared/header'%>
<div class="columns">
  <div class="column col-3">
    <ul class="nav">
      <li class="divider text-center" data-content="PAINEL"></li>
      <%= link_to admins_backoffice_welcome_index_path do %>
        <li class="nav-item">Início</li>
      <% end %>
      <%= link_to admins_backoffice_admins_path do %>
        <li class="nav-item">Administradores</li>
      <% end %>
      <li class="nav-item disabled">Usuários</li>
      <li class="nav-item disabled">Questões</li>
    </ul>
  </div>
  <div class="column">
      <%= render 'shared/notifications' %>
    <%= yield %>
  </div>
</div>
<%= render 'shared/footer' %>
