<%= render 'shared/header' %>
  <div class="flex">
    <div class="fl w-third">
      <ul class="list">
      <li class="b">Painel</li>
        <%= link_to admins_backoffice_welcome_index_path, class: "link dim blue" do %>
          <li>Dashboard</li>
        <% end %>
        <%= link_to admins_backoffice_admins_path, class: "link dim blue" do %>
          <li>Admins</li>
        <% end %>
      </ul>
    </div>
    <div class="fl w-two-thirds ph3">
      <%= yield %>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
