<%= render 'shared/header' %>
<div class="columns mx-2">
  <div class="column is-one-quarter">
    <div class="menu">
      <p class="menu-label">PAINEL</p>
        <ul class="menu-list">
          <%= link_to admins_backoffice_welcome_index_path do %>
            <li>Início</li>
          <% end %>
          <%= link_to admins_backoffice_admins_path do %>
            <li>Administradores</li>
          <% end %>
          <%= link_to admins_backoffice_subjects_path do %>
            <li>Assuntos</li>
          <% end %>
          <li><a>Usuários</a></li>
          <%= link_to admins_backoffice_questions_path do %>
            <li>Questões</li>
          <% end %>
        </ul>
      </div>
      </div>
  <div class="column">
    <%= yield %>
  </div>
</div>
<%= render 'shared/footer' %>
