<%= render 'shared/header'%>
  <div class="columns">
    <div class="column col-3">
      <ul class="nav">
        <li class="divider text-center" data-content="PAINEL"></li>
        <%= link_to admins_backoffice_welcome_index_path do %>
          <li class="nav-item">Início</li>
        <% end %>
        <%= link_to admins_backoffice_admins_path do %>
          <li class="nav-item">Administradores</li>
        <% end %>
      </ul>
    </div>
    <div class="columns col-9 px-2">
        <%= yield %>
      </div>
  </div>
<%= render 'shared/footer' %>
