<!DOCTYPE html>
<html>
  <head>
    <title>Rails The Question</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>

  </head>
  <body>
    <main>
    <h1>SITE</h1>
      <%= yield %>
    </main>
  </body>
</html>
